
@if (consumoService.postsDetails.isLoading()) {
    <p>Carregando...</p>
} @else if(consumoService.postsDetails.error()) {
    <p>Deu erro</p>
}
@else if(consumoService.postsDetails.hasValue()) {

<div class="produtos">
    @for (post of consumoService.postsDetails.value(); track post.id) {
        <div class="card-produto">

            <button class="detalhes-produto"
            type="button"
            (click)="abrirProduto(post)"
            [attr.aria-label]="'Ver detalhes de' + post.nome"
            >
            
                <img [src]="post.urlImagem" [alt]="post.nome" width="200" height="200">
         </button>
            <div class="info-produto">

                <h1>{{post.nome}}</h1>

                <p class="descricao">{{post.descricao}}</p>

                <p class="preco">R${{post.preco}}</p>
            </div>           
        </div>
    }
</div>
}

@if (produtoSelecionado(); as produto){

    <div class="modal-produto" (click)="fecharProduto()">
        <article class="modal-produto-cont" (click)="$event.stopPropagation">
            <button class="modal-botao-fechar"type="button" (click)="fecharProduto()">×</button>

            <img [src]="produto.urlImagem" [alt]="produto.nome">
            <h2>{{produto.nome}}</h2>
            <p>{{produto.descricao}}</p>
            <strong>R${{produto.preco}}</strong>
        </article>
    </div>
}